h1  {
    font-weight: "bold";
}

.texto_planeta {
    font-size: 1.2em;
}

.footer_index {
    color: white;
    background-color: grey;
    text-align: center;
}

.imagendelsol {
    width:"1900"; 
    height:"635";
    text-align: center;
}

header {
    text-align: center;
}