h1 {
    font-weight: bold;
    color: blue;
}

h3 {
    font-weight: bold;
    color: blue;
}

.texto_sol {
    font-style: italic;
    font-family: 'Trebuchet MS';
    color: blue;
    text-align: left;
}

header {
    text-align: center;
}

footer {
    text-align: center;
}